@import "tailwindcss";

:root {
  --text: #fff;
  --card: #f7f7f8;
  --bg:#000C24;
  --muted: #666;
  --accent: #ff6b6b;
  --button:#27A5DE;
  --glass: rgba(255, 255, 255, 0.6)
}

body{
  background:#000C24;
}
html {
  scroll-behavior: smooth;
}
